.detail{
    background: #f5f5f5;
    >ul{
        width: 1226px;
        height: 40px;
        margin: 0 auto;
        color: #B0B0B0;  
        line-height: 40px;      
        li{
            float: left;
            padding-right: 5px;                       
            font-size: 11px;            
            a{
                color: #B0B0B0;
            }
        }
        li:first-of-type{
            padding-left:0px ;
        }
    }
    .detail-body{
        background: #fff;
        .detail-content{
            width: 1226px;
            margin: 0 auto;
            padding-top: 34px;
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            .contentLeft{
                .detailList{
                    margin-right: 58px;
                    margin-top: 42px;
                    float: left;
                    ul{
                        li{
                            height: 60px;
                            width: 75px;
                            border: 1px solid #ccc;
                            margin-bottom: 16px;
                            cursor: pointer;
                            text-align: center;                        
                            img{
                                width: 72px;
                                height: 60px;                                                      
                            }
                        }
                    }
                }
                
                .detailImg{
                    width: 482px;
                    height: 482px;
                    margin-right: 58px;
                    overflow: hidden;
                    float: left;
                    ul{
                        position: relative;
                        li{
                            width: 482px;
                            height: 482px;
                            float: left;
                            display: none;
                            
                            img{
                                width: 482px;
                                height: 482px;
                            }
                        }
                        li:nth-of-type(1){
                            display: block;
                        }                        
                    }
                }
            }
            .contentRight{
                width: 550px;
                ul{
                    li{
                       border-bottom: 1px solid #cccccc;                       
                       div{
                           font-size: 14px;
                           color: #ccc;
                           margin-top: 16px;
                          del,span{
                               color: #666;
                                margin-left: 40px;
                           }
                           
                       }                        
                    }
                    li:nth-of-type(1){                        
                        h2{
                            font-size: 20px;
                            line-height: 28px;                            
                        }
                        p{
                                height: 52px;
                                color: #666666;
                                line-height: 52px;
                                font-size: 12px;
                        }
                        
                    }
                    li:nth-of-type(2){
                        div{
                            overflow: hidden;
                            span{
//                             margin-left: 0;
                               font-size: 24px;
                               font-weight: bold;
                               color: #b60005;                              
                           }
                           p{                                  
                               width: 85%;
                               float: right;
                               margin-left: 40px;
                               span{
                                   color: #333333;
                                   font-size: 12px;
                                   height: 20px;
                                   margin-bottom: 7px;
                                    line-height: 20px; 
                                    margin-left: 5px;     
                               }
                               span:nth-of-type(1){
                                   display: inline-block;
                                    width: 36px;                                    
                                    border: 1px solid red;
                                    background-color: #fff;
                                    color: #ff3600;
                                    text-align: center;                                                                
                                    margin-right: 5px;
                               }
                            }
                        }
                        
                    }
                    li:nth-of-type(3){
                        ul{
                            border: none;
                            overflow: hidden;
                            li{
                                height: 52px;
                                line-height: 52px;                                
                                float: left;
                                border: none;
                                span{
                                    font-size: 12px;
                                    color: #ccc;
                                }
                                span:nth-of-type(2){
                                    color: #333;
                                    margin-left: 40px;
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                    li:nth-of-type(4){
                        height: 128px;
                        div{
                            p{                                  
                               width: 85%;
                               float: right;
                               margin-left: 40px;
                            }
                            p:nth-of-type(1){
                                input[type="button"]{
                                    width: 20px;
                                    height: 30px;                                   
                                }                                
                                .text-num{
                                    width: 44px;
                                    height: 26px;
                                    text-align: center;
                                    line-height: 26px;
                                    text-indent: 0;
                                    position: relative;
                                    top: 1px;
                                }
                            }
                            p:nth-of-type(2){
                                input{
                                    width: 266px;
                                    height: 50px;
                                    background: #f03400 url(../img/index_img/addcart.png) no-repeat 60px 16px;
                                    border: none;
                                    color: #fff;
                                    margin-top: 15px;
                                    
                                }
                                input:hover{
                                    color: #fff;
                                    background-color: #f03400;
                                }
                            }
                        }
                        
                    }
                    li:nth-of-type(5){
                        height: 50px;
                        line-height: 50px;
                        div{
                            margin-top: 0px;
                            span{
                                font-size: 12px;
                                color: #cccccc;
                            }
                        }                                                
                    }
                }
            }
        }
    }
    .candicineTitle{
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-top: 2px solid #ddd;
        margin-bottom: 15px;
        ul{
            margin: 0 auto;
            li{
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                font-size: 14px;
                width: 302px;
                height: 18px;
                line-height: 18px;                               
                margin: auto;
                float: left;
                text-align: center;
                cursor: pointer;                
                color: #666;                
            }
            #pingluntitle:hover,#candtitle:hover{
                color: #FF3600;
                }
            li:nth-of-type(1){
                position: relative;
                display: none;                
                >div{
                    height: 58px;
                        position: absolute;
                        top: -18px;
                    img{
                        float: left;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        margin-right: 14px;
                    }
                    >div{
                        width: 172px;
                        float: left;
                        p{
                            line-height: 23px;
                        }
                        p:nth-of-type(1){
                            width: 170px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 16px;
                            color: #757575;
                            margin-top: 5px;
                        }
                        p:nth-of-type(2){
                            font-size: 14px;
                            color: #c00000;
                        }
                    }
                }                                                
            }
            li:nth-of-type(4){
                display: none;
                position: relative;                
                >a{
                    position: absolute;
                    top: -10px;
                    right: 0px;
                    width: 162px;
                    height: 40px;
                    display: inline-block;                                                 
                    background-color: #ff3600;
                    color: #fff;                    
                    cursor: pointer;
                    line-height: 40px;
                    font-size: 14px;
                    text-align: center; 
                }
                                               
            }
        }
    }
    .showCandicineTitle{
        width: 100%;
        position: fixed;
        top: 0px;
        box-shadow:  0px 5px 10px #ddd;
        z-index: 111;
    }
    .candicine{
        width: 1226px;
        margin: 0 auto;       
        background: #fff;
        .candMessage{
            padding: 48px 60px;
            ul{
                li{
                    float: left;
                    width: 368.6px;
                    height: 19px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    font-size: 14px;
                    color: #333;                    
                }
                
            }
        }
        .MessageImg{
            p{
                width: 100%;
                text-align: center;
            }
        }
        .candpinglun{
            padding: 22px 140px;
            border-bottom: 1px solid #ccc;
            background-color: #fff;
            overflow: hidden;
            .pinglunTitle{
                width: 149px;
                border-right: 1px dashed #e0e0e0;
                float: left;
                .title {
                    font-size: 16px;
                    line-height: 32px;
                    color: #666;
                }
                .percent {
                    font-size: 24px;
                    line-height: 48px;
                    color: #ff3700;
                    font-weight: bold;
                    margin-bottom: 6px;
                }
                .stars {
                    width: 68px;
                    height: 12px;
                    background: #ccc;
                    position: relative;
                    margin-bottom: 8px;
                    overflow: hidden;
                    .stars-content {
                        position: absolute;
                        z-index: 1;
                        width: 94%;
                        height: 100%;
                        background: #ff3600;
                    }
                    img {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
                }
            }
            .brnbar{
                padding-top: 33px;
                padding-left: 63px;
                font-size: 0;
                float: left;
                a{
                    width: 142px;
                    display: inline-block;
                    font-size: 14px;
                    line-height: 38px;
                    border: 1px solid #e0e0e0;
                    color: #666;
                    text-align: center;
                    margin-right: 14px;
                }
                a.all{
                    color: #ff3600;
                    border-color: #ff3600;
                }
            }
            
        }
        //评论列表
        .pinglunmessage{
            .allpinglun{
                .pl-item{
                    padding: 30px 50px;
                    border-bottom: 1px solid #ccc;
                    background-color: #fff;
                    overflow: hidden;
                    .pl-name{
                        width: 200px;
                        box-sizing: border-box;
                        padding-left: 90px;
                        margin-right: 80px;
                        float: left;
                        .pl-user {
                            text-align: left;
                            color: #666;
                            margin-bottom: 10px;
                        }
                        .pl-img {
                            width: 30px;
                            height: 30px;
                            img{
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                display: block;
                            }
                        }
                        .pl-star {
                            font-size: 0;
                            margin-top: 10px;
                            img{
                                display: block;
                            }
                        }
                    }
                    .plfloat-left{
                        width: 840px;
                        float: left;
                        dl{
                            dt{
                                p{
                                    width: 745px;
                                    font-size: 14px;
                                    color: #333;
                                    line-height: 2;
                                }
                            }
                            .pl-con-img{
                                margin: 20px 0;
                                .clearfix{
                                    overflow: hidden;
                                    .smallImg{
                                        float: left;
                                        margin-right: 12px;
                                        border: 1px solid #ccc;
                                        cursor: pointer;
                                        position: relative;
                                        img{
                                            width: 72px;
                                            height: 72px;
                                        }
                                    }
                                }                                    
                            }
                            .pl-time{
                                color: #ccc;
                                line-height: 12px;
                                margin-top: 20px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    #pinglun{
        display: none;
    }
}
